{
  "swagger": "2.0",
  "info": {
    "version": "V1",
    "title": "APIWayworks",
    "x-swagger-net-version": "8.5.12.001"
  },
  "host": "freeofficeapi.gvbsoft.vn",
  "schemes": [
    "http"
  ],
  "paths": {
    "/api/authentication/getauthdata": {
      "get": {
        "tags": [
          "Authentication"
        ],
        "operationId": "Authentication_GetAuthenticationData",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/api/authentication/login": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "operationId": "Authentication_Login",
        "consumes": [
          "application/json",
          "text/json",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UserLoginModel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/api/authentication/logout": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "operationId": "Authentication_Logout",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/api/authentication/switchcompany/{companyID}": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "operationId": "Authentication_SwitchCompany",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "companyID",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/api/authentication/validtoken": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "operationId": "Authentication_IsValidAccessToken",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/api/authentication/getlistusertypes": {
      "get": {
        "tags": [
          "Authentication"
        ],
        "operationId": "Authentication_GetListUserTypes",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/api/authentication/resetpassword": {
      "put": {
        "tags": [
          "Authentication"
        ],
        "operationId": "Authentication_ResetPassword",
        "consumes": [
          "application/json",
          "text/json",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ResetPasswordModel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/api/authentication/changepassword": {
      "put": {
        "tags": [
          "Authentication"
        ],
        "operationId": "Authentication_ChangePassword",
        "consumes": [
          "application/json",
          "text/json",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ChangePasswordModel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/api/billadvances/createbilladvances": {
      "post": {
        "tags": [
          "BillAdvances"
        ],
        "operationId": "BillAdvances_CreateBillAdvances",
        "consumes": [
          "application/json",
          "text/json",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateBillAdvancesModel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/api/billadvances/getbilladvancesbyid/{BillAdvanceID}": {
      "get": {
        "tags": [
          "BillAdvances"
        ],
        "operationId": "BillAdvances_GetBillAdvancesByID",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "BillAdvanceID",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/api/billadvances/updatebilladvances/{BillAdvanceID}": {
      "post": {
        "tags": [
          "BillAdvances"
        ],
        "operationId": "BillAdvances_PutUpdateBillAdvances",
        "consumes": [
          "application/json",
          "text/json",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "BillAdvanceID",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateBillAdvancesModel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/api/billadvances/listbilladvances": {
      "get": {
        "tags": [
          "BillAdvances"
        ],
        "operationId": "BillAdvances_GetListBillAdvances",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "ToDoListsMilestoneID",
            "in": "query",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/api/billadvances/deletebilladvance/{BillAdvanceID}": {
      "delete": {
        "tags": [
          "BillAdvances"
        ],
        "operationId": "BillAdvances_DeleteBillAdvance",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "BillAdvanceID",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/api/billrefunds/createbillrefunds": {
      "post": {
        "tags": [
          "BillRefunds"
        ],
        "operationId": "BillRefunds_CreateBillAdvances",
        "consumes": [
          "application/json",
          "text/json",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateBillRefundModel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/api/billrefunds/getbillrefundsbyid/{BillRefundID}": {
      "get": {
        "tags": [
          "BillRefunds"
        ],
        "operationId": "BillRefunds_GetBillAdvancesByID",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "BillRefundID",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/api/billrefunds/updatebillrefunds/{BillRefundID}": {
      "post": {
        "tags": [
          "BillRefunds"
        ],
        "operationId": "BillRefunds_PutUpdateBillAdvances",
        "consumes": [
          "application/json",
          "text/json",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "BillRefundID",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateBillRefundModel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/api/billrefunds/listbillrefunds": {
      "get": {
        "tags": [
          "BillRefunds"
        ],
        "operationId": "BillRefunds_GetListBillAdvances",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "ToDoListsMilestoneID",
            "in": "query",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/api/billrefunds/deletebillrefund/{BillRefundID}": {
      "delete": {
        "tags": [
          "BillRefunds"
        ],
        "operationId": "BillRefunds_DeleteBillRefund",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "BillRefundID",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/api/booking/getlistbookingcategory": {
      "get": {
        "tags": [
          "BookingCategory"
        ],
        "operationId": "BookingCategory_GetListBookingCategorys",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/api/booking/getbookingcategorybyid/{categoryNewsID}": {
      "get": {
        "tags": [
          "BookingCategory"
        ],
        "operationId": "BookingCategory_GetBookingCategoryByID",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "categoryNewsID",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/api/booking/createbookingcategory": {
      "post": {
        "tags": [
          "BookingCategory"
        ],
        "operationId": "BookingCategory_CreateBookingCategory",
        "consumes": [
          "application/json",
          "text/json",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BookingCategoryModelCreate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/api/booking/updatebookingcategory/{categoryNewsID}": {
      "put": {
        "tags": [
          "BookingCategory"
        ],
        "operationId": "BookingCategory_UpdateBookingCategory",
        "consumes": [
          "application/json",
          "text/json",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "categoryNewsID",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BookingCategoryModelUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/api/booking/deletebookingcategory/{categoryNewsID}": {
      "put": {
        "tags": [
          "BookingCategory"
        ],
        "operationId": "BookingCategory_DeteteBookingCategory",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "categoryNewsID",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/api/bookingeventcategory/getlistcategorybyeventid/{eventID}": {
      "get": {
        "tags": [
          "BookingEventCategory"
        ],
        "operationId": "BookingEventCategory_GetListCategoryByEventID",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "eventID",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/api/bookingeventcategory/searchavailablebookingcategories": {
      "get": {
        "tags": [
          "BookingEventCategory"
        ],
        "operationId": "BookingEventCategory_SearchListAvailableBookingCategories",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "timeStart",
            "in": "query",
            "required": true,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "timeEnd",
            "in": "query",
            "required": true,
            "type": "string",
            "format": "date-time"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/api/bookingeventcategory/searchcategorybeingusing": {
      "get": {
        "tags": [
          "BookingEventCategory"
        ],
        "operationId": "BookingEventCategory_SearchCategoryBeingUsing",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "timeStart",
            "in": "query",
            "required": true,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "timeEnd",
            "in": "query",
            "required": true,
            "type": "string",
            "format": "date-time"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/api/bookingeventcategory/addcategoryintoevent/{eventID}/{categoryID}": {
      "post": {
        "tags": [
          "BookingEventCategory"
        ],
        "operationId": "BookingEventCategory_AddCategoryIntoEvent",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "eventID",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "categoryID",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/api/bookingeventcategory/deletebookingeventcategory/{eventID}/{categoryID}": {
      "post": {
        "tags": [
          "BookingEventCategory"
        ],
        "operationId": "BookingEventCategory_DeleteBookingCategory",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "eventID",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "categoryID",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/api/bookingevent/searchlistmyevents": {
      "get": {
        "tags": [
          "BookingEvents"
        ],
        "operationId": "BookingEvents_SearchListMyBookingEvents",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "timeStart",
            "in": "query",
            "required": true,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "timeEnd",
            "in": "query",
            "required": true,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "titleSearch",
            "in": "query",
            "required": true,
            "type": "string"
          },
          {
            "name": "strCategoryIDs",
            "in": "query",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/api/bookingevent/getlistbookingpresentcontinue": {
      "get": {
        "tags": [
          "BookingEvents"
        ],
        "operationId": "BookingEvents_GetListBookingPresentContinue",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "timeStart",
            "in": "query",
            "required": true,
            "type": "string",
            "format": "date-time"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/api/bookingevent/searchlistcompanyevents": {
      "get": {
        "tags": [
          "BookingEvents"
        ],
        "operationId": "BookingEvents_SearchListCompanyBookingEvents",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "timeStart",
            "in": "query",
            "required": true,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "timeEnd",
            "in": "query",
            "required": true,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "titleSearch",
            "in": "query",
            "required": true,
            "type": "string"
          },
          {
            "name": "strCategoryIDs",
            "in": "query",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/api/bookingeventattendance/searchbookedtimeperiods": {
      "get": {
        "tags": [
          "BookingEvents"
        ],
        "operationId": "BookingEvents_SearchListBookedTimePeriods",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "timeStart",
            "in": "query",
            "required": true,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "timeEnd",
            "in": "query",
            "required": true,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "strCategoryIDs",
            "in": "query",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/api/bookingevent/getbyid/{eventID}": {
      "get": {
        "tags": [
          "BookingEvents"
        ],
        "operationId": "BookingEvents_GetBookingEventByID",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "eventID",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/api/bookingevent/create": {
      "post": {
        "tags": [
          "BookingEvents"
        ],
        "operationId": "BookingEvents_CreateBookingEvent",
        "consumes": [
          "application/json",
          "text/json",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "bodyData",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BookingEventModelCreate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/api/bookingevent/update/{eventID}": {
      "put": {
        "tags": [
          "BookingEvents"
        ],
        "operationId": "BookingEvents_UpdateBookingEvent",
        "consumes": [
          "application/json",
          "text/json",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "eventID",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "bodyData",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BookingEventModelUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/api/bookingevent/delete/{eventID}": {
      "put": {
        "tags": [
          "BookingEvents"
        ],
        "operationId": "BookingEvents_DeleteBookingTypeEvent",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "eventID",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/api/bookingeventattendance/searchlist/{eventID}": {
      "get": {
        "tags": [
          "BookingEventsAttendance"
        ],
        "operationId": "BookingEventsAttendance_SearchListBookingEventsAttendance",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "eventID",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/api/bookingeventattendance/getbyid/{attendanceID}": {
      "get": {
        "tags": [
          "BookingEventsAttendance"
        ],
        "operationId": "BookingEventsAttendance_GetBookingEventAttendanceByID",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "attendanceID",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/api/bookingeventattendance/searchavailableattendances": {
      "get": {
        "tags": [
          "BookingEventsAttendance"
        ],
        "operationId": "BookingEventsAttendance_SearchListAvailableAttendances",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "timeStart",
            "in": "query",
            "required": true,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "timeEnd",
            "in": "query",
            "required": true,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "keySearch",
            "in": "query",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/api/bookingeventattendance/create/{eventID}": {
      "post": {
        "tags": [
          "BookingEventsAttendance"
        ],
        "operationId": "BookingEventsAttendance_CreateBookingEventAttendance",
        "consumes": [
          "application/json",
          "text/json",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "eventID",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "bodyData",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BookingEventAttendanceModelCreate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/api/bookingeventattendance/confirm/{eventID}": {
      "put": {
        "tags": [
          "BookingEventsAttendance"
        ],
        "operationId": "BookingEventsAttendance_ConfirmBookingEventAttendance",
        "consumes": [
          "application/json",
          "text/json",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "eventID",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "bodyData",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BookingEventAttendanceModelUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/api/bookingeventattendance/delete/{eventID}/{staffID}": {
      "put": {
        "tags": [
          "BookingEventsAttendance"
        ],
        "operationId": "BookingEventsAttendance_DeleteBookingEventAttendance",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "eventID",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "staffID",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/api/bookingtypeevent/searchlist": {
      "get": {
        "tags": [
          "BookingTypeEvent"
        ],
        "operationId": "BookingTypeEvent_SearchListBookingTypeEvents",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/api/bookingtypeevent/getbyid/{eventTypeID}": {
      "get": {
        "tags": [
          "BookingTypeEvent"
        ],
        "operationId": "BookingTypeEvent_GetBookingTypeEventByID",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "eventTypeID",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/api/bookingtypeevent/create": {
      "post": {
        "tags": [
          "BookingTypeEvent"
        ],
        "operationId": "BookingTypeEvent_CreateBookingTypeEvent",
        "consumes": [
          "application/json",
          "text/json",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "bodyData",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BookingTypeEventModelCreate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/api/bookingtypeevent/update/{eventTypeID}": {
      "put": {
        "tags": [
          "BookingTypeEvent"
        ],
        "operationId": "BookingTypeEvent_UpdateBookingTypeEvent",
        "consumes": [
          "application/json",
          "text/json",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "eventTypeID",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "bodyData",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BookingTypeEventModelUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/api/bookingtypeevent/delete/{eventTypeID}": {
      "put": {
        "tags": [
          "BookingTypeEvent"
        ],
        "operationId": "BookingTypeEvent_DeleteBookingTypeEvent",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "eventTypeID",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/api/cmscategorynews/listcategorynews": {
      "get": {
        "tags": [
          "CMSCategoryNews"
        ],
        "operationId": "CMSCategoryNews_GetListCategoryNews",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/api/cmscategorynews/getcategorynewsbyid/{categoryNewsID}": {
      "get": {
        "tags": [
          "CMSCategoryNews"
        ],
        "operationId": "CMSCategoryNews_GetCategoryNewsByID",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "categoryNewsID",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/api/cmscategorynews/createcategorynews": {
      "post": {
        "tags": [
          "CMSCategoryNews"
        ],
        "operationId": "CMSCategoryNews_CreateCategoryNews",
        "consumes": [
          "application/json",
          "text/json",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CMSCategoryNewsModel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/api/cmscategorynews/updatecategorynews/{categoryNewsID}": {
      "put": {
        "tags": [
          "CMSCategoryNews"
        ],
        "operationId": "CMSCategoryNews_UpdateCategoryNews",
        "consumes": [
          "application/json",
          "text/json",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "categoryNewsID",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "dataUpdate",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CMSCategoryNewsModel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/api/cmscategorynews/deletecategorynews/{categoryNewsID}": {
      "put": {
        "tags": [
          "CMSCategoryNews"
        ],
        "operationId": "CMSCategoryNews_DeleteCategoryNews",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "categoryNewsID",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/api/cmscontenttype/listcontenttypes": {
      "get": {
        "tags": [
          "CMSContentType"
        ],
        "operationId": "CMSContentType_GetListContentTypes",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "keySearch",
            "in": "query",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/api/cmsnews/listnews": {
      "get": {
        "tags": [
          "CMSNews"
        ],
        "operationId": "CMSNews_getListNewsForCompany",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "categoryNewsID",
            "in": "query",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "keySearch",
            "in": "query",
            "required": true,
            "type": "string"
          },
          {
            "name": "statusID",
            "in": "query",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/api/cmsnews/getnewsbyid/{newsID}": {
      "get": {
        "tags": [
          "CMSNews"
        ],
        "operationId": "CMSNews_GetNewsByID",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "newsID",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/api/cmsnews/createnews": {
      "post": {
        "tags": [
          "CMSNews"
        ],
        "operationId": "CMSNews_CreateNews",
        "consumes": [
          "application/json",
          "text/json",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CMSNewsModel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/api/cmsnews/updatenews/{newsID}": {
      "put": {
        "tags": [
          "CMSNews"
        ],
        "operationId": "CMSNews_UpdateNews",
        "consumes": [
          "application/json",
          "text/json",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "newsID",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "dataUpdate",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CMSNewsModel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/api/cmsnews/deletenews/{newsID}": {
      "put": {
        "tags": [
          "CMSNews"
        ],
        "operationId": "CMSNews_DeleteNews",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "newsID",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/api/cmsnews/addattachment/{newsID}": {
      "put": {
        "tags": [
          "CMSNews"
        ],
        "operationId": "CMSNews_AddAttachment",
        "consumes": [
          "application/json",
          "text/json",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "newsID",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "bodyData",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RequestAttachmentModel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/api/cmsnews/removeattachment/{attachmentID}": {
      "put": {
        "tags": [
          "CMSNews"
        ],
        "operationId": "CMSNews_RemoveCMSNewsAttachment",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "attachmentID",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/api/cmsnews/updatestatusattachment": {
      "put": {
        "tags": [
          "CMSNews"
        ],
        "operationId": "CMSNews_UpdateStatusAttachment",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "newsID",
            "in": "query",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "attachmentID",
            "in": "query",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/api/cmsnews/getlistfileattachmentbyid/{newsID}": {
      "get": {
        "tags": [
          "CMSNews"
        ],
        "operationId": "CMSNews_GetListFileAttachmentDispathDoccument",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "newsID",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/api/pricing/getcurrentpackage/{companyID}": {
      "get": {
        "tags": [
          "CompanyPricePackage"
        ],
        "operationId": "CompanyPricePackage_GetCurrentPackageByCompany",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "companyID",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/api/pricing/getcurrentpackage": {
      "get": {
        "tags": [
          "CompanyPricePackage"
        ],
        "operationId": "CompanyPricePackage_GetCurrentPackage",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/api/pricing/searchpackages/{companyID}": {
      "get": {
        "tags": [
          "CompanyPricePackage"
        ],
        "operationId": "CompanyPricePackage_SearchCompanyPackages",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "companyID",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/api/pricing/createpackage/{companyID}": {
      "post": {
        "tags": [
          "CompanyPricePackage"
        ],
        "operationId": "CompanyPricePackage_CreateCompanyPackage",
        "consumes": [
          "application/json",
          "text/json",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "companyID",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CompanyPricePackageModelCreate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/api/pricing/updatepackage/{companyID}": {
      "put": {
        "tags": [
          "CompanyPricePackage"
        ],
        "operationId": "CompanyPricePackage_UpdateCompanyPackage",
        "consumes": [
          "application/json",
          "text/json",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "companyID",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CompanyPricePackageModelUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/api/pricing/allownewupload": {
      "get": {
        "tags": [
          "CompanyPricePackage"
        ],
        "operationId": "CompanyPricePackage_AllowNewUpload",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "fileSize",
            "in": "query",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/api/pricing/checkprice": {
      "post": {
        "tags": [
          "CompanyPricePackage"
        ],
        "operationId": "CompanyPricePackage_CheckPackagePrice",
        "consumes": [
          "application/json",
          "text/json",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CompanyPricePackageModelCreate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/api/companys/getcompanyusagedata/{companyID}": {
      "get": {
        "tags": [
          "Companys"
        ],
        "operationId": "Companys_GetCompanyUsageData",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "companyID",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/api/companys/ownerregistercompanyaccount": {
      "post": {
        "tags": [
          "Companys"
        ],
        "operationId": "Companys_RegisterCompanyAccountFromOwner",
        "consumes": [
          "application/json",
          "text/json",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CompanyRegisterModel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/api/companys/registercompanyaccount": {
      "post": {
        "tags": [
          "Companys"
        ],
        "operationId": "Companys_RegisterCompanyAccountFromWay",
        "consumes": [
          "application/json",
          "text/json",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CompanyRegisterModel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/api/companys/count": {
      "get": {
        "tags": [
          "Companys"
        ],
        "operationId": "Companys_GetTotalCompanys",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/api/companys/listcompany": {
      "get": {
        "tags": [
          "Companys"
        ],
        "operationId": "Companys_GetListCompany",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "keySearch",
            "in": "query",
            "required": true,
            "type": "string"
          },
          {
            "name": "statusID",
            "in": "query",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/api/companys/getlistservicesbycompanyid/{companyID}": {
      "get": {
        "tags": [
          "Companys"
        ],
        "operationId": "Companys_GetRegisteredServicesByCompanyID",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "companyID",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/api/companys/toggleservicebycompanyid/{serviceID}/{companyID}": {
      "put": {
        "tags": [
          "Companys"
        ],
        "operationId": "Companys_ToggleServiceForCompany",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "serviceID",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "companyID",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/api/companys/getdropdownlist": {
      "get": {
        "tags": [
          "Companys"
        ],
        "operationId": "Companys_GetDropdownListCompanies",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/api/companys/mycompany/getlistservices": {
      "get": {
        "tags": [
          "Companys"
        ],
        "operationId": "Companys_GetCompanyRegisteredServices",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/api/companys/mycompany/toggleservice/{serviceID}": {
      "post": {
        "tags": [
          "Companys"
        ],
        "operationId": "Companys_ToggleCompanyService",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "serviceID",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/api/companys/mycompany": {
      "get": {
        "tags": [
          "Companys"
        ],
        "operationId": "Companys_GetMyCompany",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/api/companys/companybyid/{companyID}": {
      "get": {
        "tags": [
          "Companys"
        ],
        "operationId": "Companys_GetCompanyByID",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "companyID",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/api/companys/createcompany": {
      "post": {
        "tags": [
          "Companys"
        ],
        "operationId": "Companys_PostCreateCompany",
        "consumes": [
          "application/json",
          "text/json",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CompanyModel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/api/companys/updatecompany/{companyID}": {
      "put": {
        "tags": [
          "Companys"
        ],
        "operationId": "Companys_PutUpdateCompany",
        "consumes": [
          "application/json",
          "text/json",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "companyID",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CompanyModel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/api/companys/updatestatuscompany/{companyID}": {
      "put": {
        "tags": [
          "Companys"
        ],
        "operationId": "Companys_PutUpdateStatusCompany",
        "consumes": [
          "application/json",
          "text/json",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "companyID",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/api/companys/search": {
      "post": {
        "tags": [
          "Companys"
        ],
        "operationId": "Companys_SearchCompany",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "keyword",
            "in": "query",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/api/Companys/{id}": {
      "delete": {
        "tags": [
          "Companys"
        ],
        "operationId": "Companys_Delete",
        "consumes": [],
        "produces": [],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/api/companyservices/count": {
      "get": {
        "tags": [
          "CompanyService"
        ],
        "operationId": "CompanyService_GetTotalCompanyServices",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/api/companyservices/listcompanyservice": {
      "get": {
        "tags": [
          "CompanyService"
        ],
        "operationId": "CompanyService_GetListCompanyServices",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "statusID",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/api/companyservices/companyservicebyid/{companyserviceID}": {
      "get": {
        "tags": [
          "CompanyService"
        ],
        "operationId": "CompanyService_GetCompanyServicesByID",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "companyserviceID",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/api/companyservices/createcompanyservice": {
      "post": {
        "tags": [
          "CompanyService"
        ],
        "operationId": "CompanyService_PostCreateCompanyService",
        "consumes": [
          "application/json",
          "text/json",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CompanyServices"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/api/companyservices/updatecompanyservice/{companyserviceID}": {
      "put": {
        "tags": [
          "CompanyService"
        ],
        "operationId": "CompanyService_UpdateCompanyService",
        "consumes": [
          "application/json",
          "text/json",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "companyserviceID",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CompanyServicesModel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/api/configs/listconfigs": {
      "get": {
        "tags": [
          "Config"
        ],
        "operationId": "Config_GetListConfigs",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "companyID",
            "in": "query",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "searchTerm",
            "in": "query",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/api/configs/searchconfigdetail/{configKey}": {
      "get": {
        "tags": [
          "Config"
        ],
        "operationId": "Config_SearchConfigDetail",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "configKey",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "companyID",
            "in": "query",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/api/configs/createconfig": {
      "post": {
        "tags": [
          "Config"
        ],
        "operationId": "Config_CreateDefaultConfig",
        "consumes": [
          "application/json",
          "text/json",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ConfigsModel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/api/configs/updateconfig": {
      "put": {
        "tags": [
          "Config"
        ],
        "operationId": "Config_UpdateConfig",
        "consumes": [
          "application/json",
          "text/json",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ConfigsModel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/api/configs/deleteconfig/{configKey}": {
      "put": {
        "tags": [
          "Config"
        ],
        "operationId": "Config_DeleteConfig",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "configKey",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "companyID",
            "in": "query",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/api/contracts/search-drop-down-list": {
      "get": {
        "tags": [
          "Contract"
        ],
        "operationId": "Contract_SearchDropdownList",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "keySearch",
            "in": "query",
            "required": true,
            "type": "string"
          },
          {
            "name": "statusID",
            "in": "query",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/api/contracts/list-contract": {
      "get": {
        "tags": [
          "Contract"
        ],
        "operationId": "Contract_ListContract",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "keySearch",
            "in": "query",
            "required": true,
            "type": "string"
          },
          {
            "name": "statusID",
            "in": "query",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/api/contracts/get-list-contract-by-manager/{userIDManager}": {
      "get": {
        "tags": [
          "Contract"
        ],
        "operationId": "Contract_GetListContractByUserManager",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "userIDManager",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/api/contracts/drop-down-list-contract": {
      "get": {
        "tags": [
          "Contract"
        ],
        "operationId": "Contract_GetDropDownListContract",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/api/contracts/customer-by-id/{contractID}": {
      "get": {
        "tags": [
          "Contract"
        ],
        "operationId": "Contract_getContractByID",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "contractID",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/api/contracts/create-contract": {
      "post": {
        "tags": [
          "Contract"
        ],
        "operationId": "Contract_CreateContract",
        "consumes": [
          "application/json",
          "text/json",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Contracts"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/api/contracts/update-contract/{contractID}": {
      "put": {
        "tags": [
          "Contract"
        ],
        "operationId": "Contract_UpdateContract",
        "consumes": [
          "application/json",
          "text/json",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "contractID",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Contracts"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/api/contracts/update-status-contract/{contractID}": {
      "put": {
        "tags": [
          "Contract"
        ],
        "operationId": "Contract_UpdateStatusContract",
        "consumes": [
          "application/json",
          "text/json",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "contractID",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/api/contracts/search": {
      "get": {
        "tags": [
          "Contract"
        ],
        "operationId": "Contract_SearchContract",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "keyword",
            "in": "query",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/api/contracts/getcontractcost": {
      "get": {
        "tags": [
          "Contract"
        ],
        "operationId": "Contract_GetContractCost",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "DateStart",
            "in": "query",
            "required": true,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "DateEnd",
            "in": "query",
            "required": true,
            "type": "string",
            "format": "date-time"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/api/contracts/getcontractcostfile": {
      "get": {
        "tags": [
          "Contract"
        ],
        "operationId": "Contract_GetContractCostFile",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "DateStart",
            "in": "query",
            "required": true,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "DateEnd",
            "in": "query",
            "required": true,
            "type": "string",
            "format": "date-time"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/api/customers/search-drop-down-list": {
      "get": {
        "tags": [
          "Customer"
        ],
        "operationId": "Customer_SearchDropdownList",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "keySearch",
            "in": "query",
            "required": true,
            "type": "string"
          },
          {
            "name": "statusID",
            "in": "query",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/api/customers/list-customer": {
      "get": {
        "tags": [
          "Customer"
        ],
        "operationId": "Customer_ListCustomer",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "keySearch",
            "in": "query",
            "required": true,
            "type": "string"
          },
          {
            "name": "statusID",
            "in": "query",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/api/customers/drop-down-list-customer": {
      "get": {
        "tags": [
          "Customer"
        ],
        "operationId": "Customer_GetDropDownListcustomer",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/api/customers/customer-by-id/{customerID}": {
      "get": {
        "tags": [
          "Customer"
        ],
        "operationId": "Customer_getCustomerByID",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "customerID",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/api/customers/create-customer": {
      "post": {
        "tags": [
          "Customer"
        ],
        "operationId": "Customer_CreateCustomer",
        "consumes": [
          "application/json",
          "text/json",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Customers"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/api/customers/update-customer/{customerID}": {
      "put": {
        "tags": [
          "Customer"
        ],
        "operationId": "Customer_UpdateCustomer",
        "consumes": [
          "application/json",
          "text/json",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "customerID",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Customers"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/api/customers/update-status-customer/{customerID}": {
      "put": {
        "tags": [
          "Customer"
        ],
        "operationId": "Customer_UpdateStatusCustomer",
        "consumes": [
          "application/json",
          "text/json",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "customerID",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/api/customers/search": {
      "get": {
        "tags": [
          "Customer"
        ],
        "operationId": "Customer_SearchCompany",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "keyword",
            "in": "query",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/api/deliveryvehicles/list": {
      "get": {
        "tags": [
          "DeliveryVehicles"
        ],
        "operationId": "DeliveryVehicles_GetList",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "searchModel.companyID",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "searchModel.numberVehicle",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "searchModel.typeVehicleID",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "searchModel.providerID",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "searchModel.page",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "searchModel.pageSize",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/api/deliveryvehicles/full-list": {
      "get": {
        "tags": [
          "DeliveryVehicles"
        ],
        "operationId": "DeliveryVehicles_GetListDeliveryVehicle",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/xml"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/api/deliveryvehicles/get/{deliveryVehicleID}": {
      "get": {
        "tags": [
          "DeliveryVehicles"
        ],
        "operationId": "DeliveryVehicles_GetById",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "deliveryVehicleID",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/api/deliveryvehicles/create": {
      "post": {
        "tags": [
          "DeliveryVehicles"
        ],
        "operationId": "DeliveryVehicles_Create",
        "consumes": [
          "application/json",
          "text/json",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "createModel",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeliveryVehiclesCreateModel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/api/deliveryvehicles/update": {
      "put": {
        "tags": [
          "DeliveryVehicles"
        ],
        "operationId": "DeliveryVehicles_Update",
        "consumes": [
          "application/json",
          "text/json",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "updateModel",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeliveryVehiclesUpdateModel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/api/deliveryvehicles/delete/{deliveryVehicleID}": {
      "post": {
        "tags": [
          "DeliveryVehicles"
        ],
        "operationId": "DeliveryVehicles_Delete",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "deliveryVehicleID",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/api/deliveryvehicles/bycompany/{companyId}": {
      "get": {
        "tags": [
          "DeliveryVehicles"
        ],
        "operationId": "DeliveryVehicles_GetByCompany",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "companyId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/api/deliveryvehicles/byprovider/{providerId}": {
      "get": {
        "tags": [
          "DeliveryVehicles"
        ],
        "operationId": "DeliveryVehicles_GetByProvider",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "providerId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/api/deliveryvehicles/bytype/{typeId}": {
      "get": {
        "tags": [
          "DeliveryVehicles"
        ],
        "operationId": "DeliveryVehicles_GetByType",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "typeId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/api/deliveryvehicles/count": {
      "get": {
        "tags": [
          "DeliveryVehicles"
        ],
        "operationId": "DeliveryVehicles_GetCount",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "companyId",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/api/deliveryvehicles/search": {
      "get": {
        "tags": [
          "DeliveryVehicles"
        ],
        "operationId": "DeliveryVehicles_Search",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "keyword",
            "in": "query",
            "required": true,
            "type": "string"
          },
          {
            "name": "companyId",
            "in": "query",
            "required": false,
[...]
